.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*----------------------------------------------*/
.bckgr {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../public/bckgr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(10px);
    z-index: -10;
}

.logoimg {
    position: absolute;
    top: 10vh;
    left: calc(50% + 0vh);
    height: 30vh;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logolabel {
    position: absolute;
    top: 10vh;
    left: calc(50% + 0vh);
    height: 30vh;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/*----------------------*/
.logintab {
    position: absolute;
    top: 50vh;
    left: calc(50% + 0vh);
    width: 45vh;
    height: 31vh;
    transform: translate(-50%, -50%);
    background-color: #FFD1BB;
    color: black;
    border-radius: 5vh;
    box-shadow: 0px 10px 10px 0px rgb(0,0,0,0.3);
    font-size: 5vh;
    font-weight: bold;
}

.logintabdark {
    position: absolute;
    top: 54vh;
    left: calc(50% + 0vh);
    width: 45vh;
    height: 23vh;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0,0.69);
    border-radius: 5vh;
}

.loginputlog {
    position: absolute;
    top: 5vh;
    left: calc(50% - 0vh);
    width: 40vh;
    height: 5vh;
    padding: 0 2vh;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 2.5vh;
    box-sizing: border-box;
    box-shadow: inset 0px -10px 10px 0px rgb(0,0,0,0.3);
    font-size: 2vh;
    font-weight: bold;
}
.loginputpass {
    position: absolute;
    top: 11.5vh;
    left: calc(50% - 0vh);
    width: 40vh;
    height: 5vh;
    padding: 0 2vh;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 2.5vh;
    box-sizing: border-box;
    box-shadow: inset 0px -10px 10px 0px rgb(0,0,0,0.3);
    font-size: 2vh;
    font-weight: bold;
}
.logbutton {
    position: absolute;
    top: 18vh;
    left: calc(50% - 0vh);
    width: 40vh;
    height: 5vh;
    padding: 0 2vh;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 2.5vh;
    box-shadow: inset 0px -10px 10px 0px rgb(0,0,0,0.3);
    font-size: 2vh;
    font-weight: bold;
    color: rgb(255,255,255);
    background-color: #39AB43;
}
.linkToReg {
    position: absolute;
    top: 75vh;
    left: calc(50% + 0vh);
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 10vh;
    font-size: 3vh;
}
/*----------------------------------*/
.regtab {
    position: absolute;
    top: 50vh;
    left: calc(50% + 0vh);
    width: 100vh;
    height: 37.5vh;
    transform: translate(-50%, -50%);
    background-color: #FFD1BB;
    border-radius: 5vh;
    box-shadow: 0px 10px 10px 0px rgb(0,0,0,0.3);
    font-size: 5vh;
    font-weight: bold;
}

.regtabdark {
    position: absolute;
    top: 54vh;
    left: calc(50% + 0vh);
    width: 100vh;
    height: 29.5vh;
    transform: translate(-50%, -50%);
    border-radius: 5vh;
    font-size: 5vh;
    font-weight: bold;
    background-color: rgb(0,0,0,0.69);
}

.reginputlog {
    position: absolute;
    top: 5vh;
    left: calc(50% - 47.5vh);
    width: 40vh;
    height: 5vh;
    padding: 0 2vh;
    transform: translate(0, -50%);
    border: none;
    border-radius: 2.5vh;
    box-sizing: border-box;
    box-shadow: inset 0px -10px 10px 0px rgb(0,0,0,0.3);
    font-size: 2vh;
    font-weight: bold;
}

.reginputpass {
    position: absolute;
    top: 11.5vh;
    left: calc(50% - 47.5vh);
    width: 40vh;
    height: 5vh;
    padding: 0 2vh;
    transform: translate(0, -50%);
    border: none;
    border-radius: 2.5vh;
    box-sizing: border-box;
    box-shadow: inset 0px -10px 10px 0px rgb(0,0,0,0.3);
    font-size: 2vh;
    font-weight: bold;
}

.reginputpasspass {
    position: absolute;
    top: 18vh;
    left: calc(50% - 47.5vh);
    width: 40vh;
    height: 5vh;
    padding: 0 2vh;
    transform: translate(0, -50%);
    border: none;
    border-radius: 2.5vh;
    box-sizing: border-box;
    box-shadow: inset 0px -10px 10px 0px rgb(0,0,0,0.3);
    font-size: 2vh;
    font-weight: bold;
}

.regbutton {
    position: absolute;
    top: 24.5vh;
    left: calc(50% - 47.5vh);
    width: 40vh;
    height: 5vh;
    padding: 0px 2vh;
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(0, -50%);
    border: none;
    border-radius: 2.5vh;
    box-shadow: inset 0px -10px 10px 0px rgb(0,0,0,0.3);
    font-size: 2vh;
    font-weight: bold;
    color: rgb(255,255,255);
    background-color: #39AB43;
}
.avatarLabel {
    position: absolute;
    color: white;
    left: calc(50% + 4vh);
    font-size:4vh;
}
.avatarimgbut {
    position: absolute;
    width: 7vh;
    height: 7vh;
    padding: 0px 0vh;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 2.5vh;
    border:none;
}
.selectedAva {
    position: absolute;
    top: 5.5vh;
    left: calc(50% + 6.5vh);
    width: 10vh;
    height: 10vh;
    padding: 0px 0vh;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4vh;
    background-color:rgb(255,255,255,0.5);
}
.linkToLogin {
    position: absolute;
    top: 75vh;
    left: calc(50% + 0vh);
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 10vh;
    padding: 0px 0vh;
    margin-top: 0;
    margin-bottom: 0;
    font-size:3vh;
}